################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/TCUEMS_BackendNew/bin/Debug/net8.0
/TCUEMS_BackendNew/obj
/.vs
